<section id="hero" class="text-center">
    <nav>
        <ul>
            <li><a href="#contact" id="sign-up-link">CONTACT</a></li>
            <li><a href="#products" id="about-link">PRODUCTS</a></li>
        </ul>
    </nav>
    <div style="clear:both;"></div>
    <div class="hero-content center">
        <div class="vertical-center">
            <h1 id="hero-title">the most excellent unicorn</h1>
            <h4 id="hero-subtext">A WHIMSICAL FANTASY GAME COMPANY</h4>
        </div>            
    </div>
</section>