<section id="hero" class="text-center">

    <div class="hero-content center">
        <div>
            <img src="logo.png" style="width:192px;height:192px;" align="bottom" vertical-align: bottom;>
            <h2 id="hero-title">EXCELLENT UNICORN</h2>
            <h4 id="hero-subtext">games of fantasy and whimsy</h4>
        </div>
    </div>
</section>
